{% extends 'base.html.twig' %}

{% block title %}Extras index{% endblock %}

{% block body %}
    <h1>Extras index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Omschrijving</th>
                <th>Meerprijs</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for extra in extras %}
            <tr>
                <td>{{ extra.id }}</td>
                <td>{{ extra.omschrijving }}</td>
                <td>{{ extra.meerprijs }}</td>
                <td>
                    <a href="{{ path('extras_show', {'id': extra.id}) }}">show</a>
                    <a href="{{ path('extras_edit', {'id': extra.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('extras_new') }}">Create new</a>
{% endblock %}
