{% extends 'base.html.twig' %}

{% block title %}Reservering index{% endblock %}

{% block body %}
    <h1>Reservering index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Checkindate</th>
                <th>Checkoutdate</th>
                <th>Betaalid</th>
                <th>Betaalmethode</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservering in reserverings %}
            <tr>
                <td>{{ reservering.id }}</td>
                <td>{{ reservering.checkindate ? reservering.checkindate|date('Y-m-d') : '' }}</td>
                <td>{{ reservering.checkoutdate ? reservering.checkoutdate|date('Y-m-d') : '' }}</td>
                <td>{{ reservering.betaalid }}</td>
                <td>{{ reservering.betaalmethode }}</td>
                <td>
                    <a href="{{ path('reservering_show', {'id': reservering.id}) }}">show</a>
                    <a href="{{ path('reservering_edit', {'id': reservering.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reservering_new') }}">Create new</a>
{% endblock %}
