{% extends 'base.html.twig' %}

{% block title %}Betaal index{% endblock %}

{% block body %}
    <h1>Betaal index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Userid</th>
                <th>Soort</th>
                <th>Reknr</th>
                <th>Betaaldate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for betaal in betaals %}
            <tr>
                <td>{{ betaal.id }}</td>
                <td>{{ betaal.userid }}</td>
                <td>{{ betaal.soort }}</td>
                <td>{{ betaal.reknr }}</td>
                <td>{{ betaal.betaaldate ? betaal.betaaldate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('betaal_show', {'id': betaal.id}) }}">show</a>
                    <a href="{{ path('betaal_edit', {'id': betaal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('betaal_new') }}">Create new</a>
{% endblock %}
