{% extends 'base.html.twig' %}

{% block title %}Seizoen{% endblock %}

{% block body %}
    <h1>Seizoen</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ seizoen.id }}</td>
            </tr>
            <tr>
                <th>Omschrijving</th>
                <td>{{ seizoen.omschrijving }}</td>
            </tr>
            <tr>
                <th>Begindatum</th>
                <td>{{ seizoen.begindatum ? seizoen.begindatum|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Einddatum</th>
                <td>{{ seizoen.einddatum ? seizoen.einddatum|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Korting</th>
                <td>{{ seizoen.korting }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('seizoen_index') }}">back to list</a>

    <a href="{{ path('seizoen_edit', {'id': seizoen.id}) }}">edit</a>

    {{ include('seizoen/_delete_form.html.twig') }}
{% endblock %}
